//bass scss
.dateinput {
  .el-form-item__label {
    width: 100px !important;
  }
}

/* pkg or fry
------------------------------ */
.el-tabs--border-card > .el-tabs__header {
  background-color: #e8e8e8;
}
.el-form-item--small .el-form-item__content,
.el-form-item--small .el-form-item__label {
  height: 32px;
}
.el-input__inner {
  padding: 0 10px !important;
}
.el-input--prefix .el-input__inner { padding-left: 30px !important; }
